@import 'preloaders/cube';
@import 'preloaders/blocks';

.preloader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background: rgba(52, 73, 94, 1.0);
}

.wrapper {
    animation-name: fade;
    animation-duration: 0.5s;
}

.preloader-fade-enter-active, .preloader-fade-leave-active {
    transition: opacity 0.2s ease-in;
}

.preloader-fade-enter, .preloader-fade-leave-to {
    opacity: 0;
}


@keyframes fade {
    from { opacity: 0; }
    to: { opacity: 1; }
}
