@import 'classical';
@import 'fourplayer';

.board-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    .board {
        margin: auto;
        border-collapse: collapse;

        &.-classical {
            @include classical-board;
        }
        &.-four {
            @include fourplayer-board;
        }
    }
}
