@import 'classical';
@import 'fourplayer';

.board {
    background-color: #1e272f;
    border: 2px solid black;
    margin: auto;
    border-collapse: collapse;

    &.-classical {
        @include classical-board;
    }
    &.-fourplayer {
        @include fourplayer-board;
    }
}
